@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0;
}

h1 {
  @apply text-4xl text-center mt-12 mb-8;
}

h2 {
  @apply text-3xl text-center m-3;
}

.link {
  @apply underline text-sky-600 hover:text-sky-800;
}

thead {
  @apply border-b-2 border-slate-700;
}

tr {
  @apply even:bg-slate-100;
}

td {
  @apply p-1;
}

/* 
Responsive iframe styling below from Ben Marhsall's tutorial:
https://www.benmarshall.me/responsive-iframes/ 
*/

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
